<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles.css" />
  <title>
    <%= title %>
  </title>
</head>

<body>
  <nav class="nav">
    <a class="nav-link active" href="/">Home</a>
    <a class="nav-link" href="/submitsighting">Sighting Submission</a>
    <a class="nav-link" href="/shapes">Sightings by Shape</a>
  </nav>