<%- include('header', {title: `Shapes Sighted`}); -%>

  <h1>Sighting Shapes</h1>

  <div class="list-group">
    <% for (let i=0; i < listOfShape.length; i +=1) {%>
      <a href="<%= `/shapes/${listOfShape[i].toLowerCase()}` %>" class="list-group-item list-group-item-action active"
        aria-current="true">
        <%= listOfShape[i] %>
      </a>
      <br>
      <% }; %>
  </div>


  <%- include('footer'); -%>