*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* border: solid red 5px;
  border-radius: 2em; */
  min-height: 100vh;
  background-color: papayawhip;
  margin: 0 auto;
  text-align: center;
  background-image: url("./img/et.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

body > .nav {
  width: 100%;
  justify-content: center;
  align-items: center;
  background-image: url("./img/ufo-bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-link {
  color: aliceblue;
}

.nav-link:hover {
  color: beige;
  font-weight: bold;
}

.table {
  width: 100%;
}

.theader {
  color: aliceblue;
}
.thead {
  color: aliceblue;
}
.tdata > a,
.shape-report {
  color: antiquewhite;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.list-group {
  max-width: 250px;
  margin: auto;
  opacity: 0.7;
  color: red;
}

h1 {
  padding: 30px;
  color: cyan;
}

.shape-text {
  text-align: justify;
}

.table {
  width: 80%;
  margin: auto;
}

.copyright {
  margin-top: 10rem;
}

.submit-label {
  text-align: left;
  color: blanchedalmond;
}
@media screen and (max-width: 576px) {
  .nav {
    flex-direction: column;
  }
}
