*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* border: solid red 5px;
  border-radius: 2em; */
  min-height: 100vh;
  background-color: papayawhip;
  margin: 0 auto;
  text-align: center;
}

body > .nav {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.table {
  width: 100%;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.list-group {
  max-width: 250px;
  margin: auto;
}

h1 {
  padding: 30px;
}

.shape-text {
  text-align: justify;
}

.table {
  width: 80%;
  margin: auto;
}

@media screen and (max-width: 576px) {
  .nav {
    flex-direction: column;
  }
}
